<ul class="list-reset lg:flex justify-end flex-1 items-center">
  <li class="mr-3">
    <%= link_to '/en', class: 'lg:mx-0 hover:underline text-gray-800 font-extrabold rounded mt-4 lg:mt-0 py-4 px-8 shadow opacity-75' do %>
      English
    <% end %>
  </li>
  <li class="mr-3">
    <%= link_to '/fr', class: 'lg:mx-0 hover:underline text-gray-800 font-extrabold rounded mt-4 lg:mt-0 py-4 px-8 shadow opacity-75' do %>
      French
    <% end %>
  </li>
</ul>
